p, li {
  color: lightblue;
}

table {
  margin: auto;
}

ul, ol {
  display: inline-block;
  text-align: left;
}

td {
  font-size: 18px;
  font-weight: bold;
}

.header {
  color: lightgreen;
}

h1, div {
  text-align: center;
  font-family: Arial;
}

body {
  background: linear-gradient(0deg, #35577D, #141E30);
}

#app-link p {
  color: gold;
}

/*
20A648, 23BA51
35577D, 141E30
*/